# CAPSTONE PRJOECT

In this project, we wanted to predict the item prices for an e-commerce based store based on a training and testing data sets. Various features are used to get the accurate Machine Learning model and predictions based on those models.

In [1]:
#importing the relevant libraries and modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import svm, datasets
%matplotlib inline

In [2]:
df=pd.read_csv(r"C:\Users\HP\Downloads\Final Hackathon\train.csv")
df.head()

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1

# Information of data

In [3]:
df.shape

(15730, 16)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15730 entries, 0 to 15729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15730 non-null  int64
 1   title       15730 non-null  object
 2   Rating      15730 non-null  float64
 3   maincateg   15204 non-null  object
 4   platform    15730 non-null  object
 5   price1      15730 non-null  int64
 6   actprice1   15730 non-null  int64
 7   Offer %     15730 non-null  object
 8   norating1   15052 non-null  float64
 9   noreviews1  15152 non-null  float64
 10  star_5f     15142 non-null  float64
 11  star_4f     15191 non-null  float64
 12  star_3f     15499 non-null  float64
 13  star_2f     15730 non-null  int64
 14  star_1f     15730 non-null  int64
 15  fulfilled1  15730 non-null  int64
dtypes: float64(6), int64(6), object(4)
memory usage: 1.9+ MB

In [5]:
df.describe()

,id,Rating,price1,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
count,15730.000000,15730.000000,15730.000000,15730.000000,15052.000000,15152.000000,15142.000000,15191.000000,15499.000000,15730.000000,15730.000000,15730.000000
mean,10479.541577,4.012873,688.070693,1369.286777,3057.660776,423.976307,1585.239466,655.923310,357.260662,155.085188,275.500572,0.601526
std,6080.166276,0.298440,649.409586,1240.900227,11846.965689,1768.230384,6177.476241,2855.735531,1402.246610,558.650254,958.589075,0.489600
min,3.000000,0.000000,69.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5212.000000,3.900000,349.000000,699.000000,63.000000,9.000000,30.000000,12.000000,7.000000,3.000000,6.000000,0.000000
50%,10458.500000,4.000000,474.000000,999.000000,308.000000,44.000000,150.000000,60.000000,34.000000,17.000000,30.000000,1.000000
75%,15766.750000,4.200000,699.000000,1299.000000,1526.000000,215.000000,788.000000,300.000000,172.000000,77.000000,140.000000,1.000000
max,20973.000000,5.000000,5998.000000,13499.000000,289973.000000,45448.000000,151193.000000,74037.000000,34978.000000,11705.000000,18060.000000,1.000000

In [6]:
df.columns

Index(['id', 'title', 'Rating', 'maincateg', 'platform', 'price1', 'actprice1',
       'Offer %', 'norating1', 'noreviews1', 'star_5f', 'star_4f', 'star_3f',
       'star_2f', 'star_1f', 'fulfilled1'],
      dtype='object')

In [7]:
df.dtypes

id              int64
title          object
Rating        float64
maincateg      object
platform       object
price1          int64
actprice1       int64
Offer %        object
norating1     float64
noreviews1    float64
star_5f       float64
star_4f       float64
star_3f       float64
star_2f         int64
star_1f         int64
fulfilled1      int64
dtype: object

# Dealing with null values

In [8]:
df.isnull().sum()
df['maincateg'].value_counts()

Women    8781
Men      6423
Name: maincateg, dtype: int64

In [9]:
data_filled=df['norating1'].fillna(df['norating1'].mean())
df['norating1']=data_filled
data_filled1=df['noreviews1'].fillna(df['noreviews1'].mean())
df['noreviews1']=data_filled
data_filled2=df['star_5f'].fillna(df['star_5f'].mean())
df['star_5f']=data_filled
data_filled3=df['star_4f'].fillna(df['star_4f'].mean())
df['star_4f']=data_filled
data_filled4=df['star_3f'].fillna(df['star_3f'].mean())
df['star_3f']=data_filled

df.isnull().sum()

id              0
title           0
Rating          0
maincateg     526
platform        0
price1          0
actprice1       0
Offer %         0
norating1       0
noreviews1      0
star_5f         0
star_4f         0
star_3f         0
star_2f         0
star_1f         0
fulfilled1      0
dtype: int64

In [10]:
df["Offer %"]

0        30.13%
1        50.03%
2        45.01%
3        15.85%
4        40.02%
          ...
15725    52.71%
15726    50.00%
15727    34.07%
15728    50.01%
15729    45.02%
Name: Offer %, Length: 15730, dtype: object

In [11]:
df['norating1'].mean()

3057.660775976605

In [12]:
df["Offer %"].dtypes

dtype('O')

In [13]:
l=list(df["Offer %"])
l

['30.13%',
 '50.03%',
 '45.01%',
 '15.85%',
 '40.02%',
 '28.06%',
 '50.05%',
 '83.91%',
 '45.05%',
 '10.01%',
 '0.00%',
 '53.89%',
 '50.08%',
 '50.04%',
 '45.01%',
 '50.03%',
 '62.06%',
 '60.06%',
 '60.06%',
 '50.05%',
 '52.71%',
 '64.93%',
 '67.81%',
 '0.68%',
 '30.01%',
 '66.78%',
 '37.59%',
 '40.04%',
 '45.01%',
 '50.97%',
 '50.05%',
 '60.06%',
 '64.68%',
 '60.12%',
 '24.02%',
 '21.72%',
 '34.13%',
 '59.96%',
 '18.02%',
 '68.78%',
 '47.45%',
 '37.25%',
 '40.03%',
 '5.89%',
 '57.06%',
 '37.55%',
 '55.99%',
 '30.46%',
 '83.21%',
 '68.47%',
 '55.91%',
 '40.04%',
 '50.05%',
 '61.06%',
 '52.71%',
 '50.75%',
 '28.59%',
 '33.87%',
 '60.06%',
 '54.99%',
 '50.03%',
 '72.02%',
 '53.89%',
 '80.00%',
 '50.03%',
 '40.08%',
 '45.35%',
 '42.89%',
 '65.07%',
 '20.00%',
 '36.87%',
 '20.04%',
 '61.96%',
 '60.03%',
 '57.06%',
 '60.16%',
 '25.79%',
 '68.37%',
 '43.01%',
 '45.05%',
 '54.11%',
 '10.01%',
 '45.02%',
 '52.55%',
 '25.03%',
 '30.06%',
 '70.07%',
 '79.60%',
 '40.28%',
 '50.05%',
 '22.66%',
 '14.46%',
 '0.00%',
 '78.52%',
 '67.17%',
 '37.04%',
 '23.86%',
 '50.05%',
 '50.10%',
 '53.43%',
 '11.57%',
 '80.04%',
 '14.83%',
 '74.65%',
 '76.18%',
 '60.26%',
 '29.86%',
 '50.00%',
 '16.83%',
 '48.64%',
 '64.42%',
 '39.95%',
 '75.04%',
 '55.71%',
 '30.04%',
 '40.04%',
 '40.01%',
 '38.04%',
 '0.00%',
 '44.09%',
 '60.12%',
 '56.20%',
 '44.49%',
 '20.03%',
 '55.06%',
 '29.99%',
 '54.65%',
 '50.02%',
 '28.70%',
 '59.66%',
 '17.03%',
 '43.01%',
 '66.33%',
 '34.43%',
 '33.39%',
 '25.28%',
 '30.08%',
 '43.04%',
 '60.06%',
 '66.77%',
 '81.27%',
 '57.96%',
 '70.02%',
 '45.01%',
 '50.05%',
 '50.05%',
 '40.04%',
 '18.89%',
 '50.04%',
 '22.04%',
 '50.03%',
 '23.25%',
 '30.03%',
 '59.46%',
 '48.10%',
 '42.84%',
 '55.62%',
 '54.46%',
 '12.53%',
 '58.86%',
 '5.01%',
 '69.55%',
 '58.43%',
 '50.10%',
 '56.26%',
 '20.04%',
 '26.05%',
 '55.91%',
 '50.08%',
 '40.01%',
 '58.89%',
 '40.05%',
 '62.04%',
 '33.67%',
 '11.06%',
 '71.57%',
 '54.99%',
 '52.05%',
 '78.44%',
 '52.45%',
 '73.77%',
 '50.05%',
 '40.04%',
 '53.05%',
 '18.21%',
 '71.53%',
 '50.05%',
 '45.80%',
 '50.01%',
 '52.55%',
 '36.07%',
 '50.05%',
 '20.64%',
 '64.82%',
 '43.89%',
 '16.69%',
 '70.84%',
 '14.64%',
 '24.05%',
 '66.71%',
 '2.27%',
 '51.10%',
 '46.73%',
 '45.05%',
 '61.18%',
 '20.43%',
 '52.45%',
 '63.96%',
 '55.06%',
 '84.68%',
 '33.53%',
 '40.31%',
 '15.74%',
 '70.01%',
 '76.18%',
 '43.04%',
 '71.64%',
 '48.06%',
 '60.06%',
 '30.02%',
 '55.85%',
 '67.26%',
 '50.04%',
 '40.08%',
 '52.55%',
 '40.04%',
 '65.07%',
 '49.98%',
 '71.74%',
 '40.00%',
 '56.85%',
 '16.90%',
 '49.99%',
 '70.07%',
 '53.25%',
 '50.90%',
 '68.57%',
 '5.51%',
 '14.63%',
 '50.05%',
 '50.44%',
 '20.04%',
 '55.06%',
 '54.05%',
 '64.46%',
 '30.03%',
 '54.15%',
 '49.81%',
 '64.71%',
 '6.93%',
 '34.97%',
 '33.69%',
 '57.16%',
 '45.07%',
 '34.93%',
 '26.19%',
 '41.88%',
 '43.31%',
 '54.99%',
 '67.97%',
 '38.64%',
 '9.03%',
 '20.64%',
 '45.01%',
 '62.12%',
 '0.13%',
 '66.03%',
 '44.54%',
 '20.03%',
 '16.75%',
 '50.15%',
 '9.67%',
 '0.00%',
 '58.43%',
 '43.04%',
 '50.01%',
 '20.64%',
 '24.97%',
 '60.12%',
 '63.26%',
 '60.06%',
 '50.05%',
 '12.61%',
 '57.96%',
 '22.90%',
 '62.06%',
 '18.60%',
 '40.08%',
 '43.03%',
 '52.55%',
 '67.07%',
 '59.99%',
 '79.91%',
 '39.90%',
 '40.15%',
 '55.06%',
 '62.06%',
 '56.37%',
 '53.89%',
 '54.92%',
 '0.00%',
 '45.01%',
 '1.00%',
 '35.04%',
 '70.02%',
 '45.89%',
 '5.01%',
 '65.08%',
 '47.41%',
 '66.13%',
 '0.00%',
 '75.04%',
 '70.07%',
 '58.43%',
 '30.10%',
 '28.03%',
 '63.73%',
 '52.55%',
 '40.04%',
 '63.38%',
 '33.39%',
 '45.25%',
 '50.05%',
 '57.36%',
 '21.92%',
 '14.83%',
 '66.74%',
 '27.02%',
 '74.72%',
 '33.53%',
 '55.26%',
 '49.99%',
 '46.70%',
 '56.68%',
 '32.79%',
 '54.99%',
 '62.44%',
 '40.00%',
 '24.01%',
 '9.89%',
 '46.55%',
 '50.05%',
 '24.96%',
 '40.01%',
 '53.93%',
 '50.06%',
 '43.69%',
 '45.05%',
 '50.06%',
 '53.05%',
 '52.55%',
 '5.56%',
 '61.32%',
 '50.05%',
 '30.03%',
 '45.45%',
 '5.21%',
 '45.02%',
 '62.06%',
 '15.20%',
 '8.01%',
 '47.39%',
 '52.55%',
 '33.96%',
 '49.95%',
 '64.38%',
 '55.06%',
 '55.51%',
 '53.15%',
 '68.10%',
 '62.06%',
 '60.16%',
 '35.04%',
 '47.39%',
 '40.98%',
 '60.12%',
 '9.36%',
 '60.94%',
 '45.05%',
 '60.16%',
 '43.09%',
 '66.33%',
 '52.05%',
 '69.57%',
 '57.51%',
 '63.97%',
 '64.16%',
 '55.71%',
 '9.53%',
 '15.03%',
 '60.06%',
 '45.89%',
 '75.09%',
 '25.81%',
 '58.06%',
 '54.46%',
 '7.01%',
 '11.77%',
 '50.06%',
 '44.89%',
 '55.56%',
 '56.60%',
 '50.01%',
 '57.36%',
 '53.89%',
 '0.14%',
 '66.13%',
 '0.03%',
 '61.18%',
 '61.18%',
 '0.00%',
 '36.87%',
 '20.04%',
 '60.12%',
 '80.05%',
 '43.09%',
 '45.05%',
 '52.55%',
 '63.46%',
 '33.87%',
 '13.03%',
 '73.76%',
 '60.12%',
 '40.02%',
 '43.11%',
 '35.23%',
 '81.02%',
 '15.91%',
 '60.12%',
 '11.02%',
 '68.36%',
 '40.04%',
 '58.43%',
 '65.57%',
 '54.05%',
 '51.45%',
 '55.57%',
 '47.90%',
 '66.87%',
 '53.05%',
 '60.06%',
 '66.25%',
 '42.30%',
 '62.12%',
 '50.01%',
 '55.06%',
 '65.02%',
 '55.06%',
 '13.67%',
 '56.46%',
 '40.33%',
 '43.03%',
 '19.25%',
 '7.06%',
 '38.49%',
 '86.27%',
 '40.04%',
 '52.55%',
 '71.57%',
 '54.34%',
 '52.45%',
 '58.06%',
 '50.25%',
 '50.05%',
 '49.98%',
 '37.55%',
 '30.07%',
 '60.33%',
 '69.27%',
 '46.78%',
 '15.89%',
 '55.70%',
 '50.46%',
 '33.53%',
 '60.12%',
 '75.09%',
 '33.80%',
 '46.24%',
 '50.05%',
 '65.98%',
 '60.04%',
 '55.06%',
 '52.10%',
 '68.07%',
 '9.71%',
 '56.71%',
 '52.55%',
 '67.77%',
 '30.02%',
 '23.02%',
 '33.96%',
 '23.42%',
 '58.12%',
 '33.49%',
 '33.36%',
 '82.37%',
 '42.05%',
 '52.55%',
 '60.37%',
 '55.77%',
 '25.93%',
 '30.00%',
 '55.46%',
 '62.06%',
 '56.69%',
 '43.04%',
 '54.45%',
 '64.13%',
 '45.02%',
 '0.00%',
 '71.33%',
 '64.74%',
 '60.12%',
 '50.07%',
 '50.10%',
 '34.84%',
 '36.48%',
 '0.14%',
 '40.08%',
 '5.56%',
 '61.06%',
 '67.77%',
 '10.02%',
 '72.47%',
 '59.26%',
 '12.30%',
 '44.31%',
 '54.15%',
 '60.12%',
 '37.44%',
 '0.90%',
 '65.21%',
 '3.75%',
 '60.12%',
 '60.06%',
 '72.09%',
 '33.58%',
 '41.20%',
 '15.89%',
 '43.04%',
 '57.06%',
 '37.34%',
 '52.55%',
 '62.06%',
 '57.57%',
 '52.01%',
 '67.77%',
 '50.08%',
 '65.07%',
 '57.92%',
 '38.08%',
 '45.01%',
 '66.08%',
 '50.05%',
 '74.59%',
 '78.14%',
 '62.06%',
 '66.75%',
 '50.05%',
 '24.85%',
 '0.00%',
 '70.71%',
 '54.99%',
 '36.73%',
 '26.71%',
 '68.77%',
 '41.30%',
 '45.12%',
 '47.05%',
 '50.05%',
 '10.94%',
 '34.06%',
 '67.47%',
 '26.42%',
 '60.66%',
 '27.01%',
 '50.05%',
 '64.46%',
 '46.09%',
 '22.52%',
 '66.69%',
 '16.68%',
 '69.07%',
 '47.80%',
 '50.04%',
 '5.01%',
 '60.01%',
 '45.05%',
 '49.99%',
 '8.14%',
 '10.02%',
 '5.11%',
 '50.15%',
 '63.66%',
 '70.01%',
 '60.32%',
 '45.85%',
 '36.07%',
 '58.04%',
 '51.22%',
 '56.06%',
 '50.11%',
 '30.03%',
 '61.57%',
 '59.61%',
 '60.06%',
 '50.15%',
 '77.29%',
 '40.04%',
 '43.01%',
 '15.02%',
 '62.12%',
 '68.79%',
 '0.00%',
 '55.06%',
 '39.90%',
 '44.09%',
 '3.40%',
 '62.06%',
 '70.01%',
 '57.46%',
 '50.08%',
 '58.00%',
 '62.03%',
 '20.04%',
 '60.62%',
 '60.06%',
 '68.37%',
 '11.77%',
 '29.86%',
 '71.53%',
 '57.57%',
 '50.08%',
 '61.18%',
 '52.55%',
 '12.51%',
 '40.02%',
 '65.07%',
 '52.55%',
 '0.59%',
 '50.05%',
 '40.08%',
 '40.02%',
 '56.20%',
 '28.83%',
 '30.06%',
 '30.01%',
 '56.11%',
 '25.03%',
 '35.01%',
 '30.79%',
 '20.04%',
 '52.55%',
 '80.08%',
 '60.66%',
 '24.05%',
 '59.96%',
 '42.92%',
 '76.62%',
 '64.16%',
 '62.06%',
 '57.22%',
 '16.69%',
 '60.06%',
 '16.47%',
 '6.69%',
 '70.02%',
 '55.62%',
 '51.85%',
 '43.01%',
 '37.36%',
 '53.37%',
 '14.83%',
 '18.02%',
 '45.29%',
 '50.05%',
 '40.00%',
 '25.03%',
 '60.06%',
 '52.45%',
 '50.10%',
 '45.01%',
 '37.55%',
 '74.43%',
 '40.04%',
 '60.46%',
 '14.83%',
 '43.88%',
 '68.11%',
 '69.42%',
 '39.02%',
 '46.01%',
 '53.37%',
 '18.02%',
 '65.09%',
 '53.95%',
 '38.34%',
 '50.08%',
 '25.02%',
 '64.97%',
 '9.44%',
 '70.02%',
 '37.07%',
 '62.01%',
 '25.04%',
 '64.09%',
 '57.10%',
 '55.06%',
 '71.67%',
 '50.75%',
 '55.06%',
 '73.20%',
 '54.96%',
 '55.06%',
 '51.60%',
 '32.87%',
 '62.06%',
 '40.04%',
 '10.01%',
 '43.80%',
 '37.55%',
 '15.92%',
 '12.52%',
 '37.63%',
 '39.34%',
 '6.96%',
 '50.90%',
 '45.01%',
 '58.02%',
 '50.10%',
 '65.07%',
 '47.21%',
 '50.05%',
 '30.00%',
 '61.86%',
 '40.04%',
 '19.78%',
 '44.89%',
 '25.03%',
 '24.02%',
 '64.74%',
 '71.55%',
 '43.31%',
 '38.04%',
 '80.04%',
 '65.17%',
 '60.06%',
 '58.66%',
 '60.43%',
 '58.26%',
 '54.15%',
 '60.12%',
 '18.83%',
 '76.18%',
 '70.17%',
 '50.15%',
 '55.62%',
 '43.21%',
 '33.53%',
 '52.55%',
 '48.30%',
 '60.46%',
 '45.05%',
 '45.05%',
 '70.07%',
 '53.89%',
 '68.07%',
 '50.08%',
 '36.87%',
 '65.07%',
 '59.37%',
 '70.36%',
 '63.46%',
 '55.71%',
 '12.61%',
 '42.92%',
 '33.53%',
 '50.05%',
 '66.78%',
 '60.06%',
 '68.07%',
 '66.78%',
 '41.74%',
 '11.77%',
 '23.21%',
 '9.67%',
 '56.36%',
 '60.12%',
 '44.89%',
 '30.03%',
 '43.04%',
 '42.90%',
 '7.01%',
 '43.04%',
 '55.16%',
 '67.77%',
 '64.16%',
 '60.16%',
 '59.96%',
 '43.06%',
 '60.64%',
 '54.99%',
 '62.06%',
 '66.13%',
 '62.76%',
 '15.89%',
 '54.96%',
 '17.60%',
 '70.90%',
 '61.09%',
 '70.01%',
 '50.25%',
 '67.07%',
 '32.87%',
 '11.77%',
 '36.07%',
 '54.46%',
 '50.05%',
 '62.12%',
 '41.38%',
 '62.06%',
 '70.01%',
 '43.09%',
 '25.03%',
 '44.49%',
 '60.44%',
 '60.06%',
 '62.76%',
 '64.46%',
 '40.03%',
 '43.03%',
 '62.06%',
 '44.96%',
 '21.11%',
 '68.36%',
 '60.46%',
 '66.74%',
 '50.05%',
 '60.04%',
 '9.67%',
 '62.06%',
 '74.64%',
 '29.55%',
 '7.15%',
 '50.04%',
 '50.05%',
 '45.05%',
 '45.05%',
 '70.99%',
 '0.00%',
 '40.00%',
 '60.06%',
 '50.05%',
 '63.99%',
 '70.02%',
 '52.55%',
 '22.44%',
 '60.06%',
 '8.80%',
 '2.78%',
 '40.04%',
 '53.31%',
 '75.09%',
 '5.56%',
 '30.03%',
 '34.98%',
 '10.01%',
 '57.46%',
 '55.86%',
 '68.36%',
 '60.12%',
 '39.03%',
 '48.90%',
 '53.45%',
 '40.04%',
 '54.51%',
 '15.92%',
 '0.00%',
 '41.88%',
 '40.04%',
 '61.57%',
 '50.05%',
 '30.15%',
 '59.56%',
 '47.20%',
 '76.98%',
 '25.53%',
 '20.00%',
 '15.92%',
 '31.64%',
 '57.36%',
 '44.04%',
 '32.73%',
 '57.56%',
 '70.87%',
 '60.04%',
 '11.47%',
 '28.79%',
 '25.53%',
 '40.04%',
 '61.59%',
 '11.77%',
 '66.73%',
 '56.06%',
 '25.06%',
 '58.66%',
 '34.06%',
 '15.88%',
 '49.99%',
 '44.99%',
 '30.06%',
 '40.24%',
 '50.05%',
 '19.25%',
 '19.02%',
 '48.75%',
 '57.87%',
 '45.35%',
 '64.06%',
 '60.83%',
 '55.06%',
 '52.30%',
 '62.03%',
 '60.16%',
 '40.04%',
 '20.87%',
 '52.55%',
 '20.04%',
 '58.43%',
 '65.67%',
 '58.38%',
 '37.00%',
 '70.05%',
 '70.02%',
 '61.02%',
 '70.47%',
 '61.46%',
 '34.33%',
 '29.99%',
 '34.93%',
 '4.81%',
 '63.51%',
 '30.00%',
 '54.96%',
 '60.26%',
 '37.55%',
 '10.04%',
 '53.37%',
 '62.06%',
 '30.03%',
 '50.08%',
 '20.04%',
 '44.09%',
 '50.10%',
 '14.91%',
 '3.06%',
 '30.07%',
 '70.01%',
 '52.55%',
 '5.01%',
 '70.07%',
 '8.46%',
 '21.28%',
 '35.94%',
 '10.01%',
 '43.04%',
 '62.16%',
 '20.02%',
 '47.45%',
 '30.79%',
 '17.90%',
 '40.01%',
 '15.92%',
 '66.21%',
 '54.38%',
 '37.55%',
 '55.62%',
 '71.57%',
 '43.04%',
 '65.07%',
 '61.59%',
 '20.02%',
 '50.05%',
 '51.32%',
 '60.26%',
 '33.33%',
 '51.60%',
 '52.61%',
 '37.55%',
 '49.99%',
 '52.55%',
 '60.04%',
 '57.52%',
 '60.06%',
 '50.05%',
 '50.04%',
 '41.70%',
 '60.16%',
 '62.06%',
 '57.56%',
 ...]

In [14]:
i=0

for str in l:
    df.loc[i,("Offer %")]=str.replace("%","")
    i=i+1

In [15]:
df

,id,title,Rating,maincateg,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13,38.000000,38.000000,38.000000,38.000000,38.000000,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03,531.000000,531.000000,531.000000,531.000000,531.000000,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01,17.000000,17.000000,17.000000,17.000000,17.000000,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85,46413.000000,46413.000000,46413.000000,46413.000000,46413.000000,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02,77.000000,77.000000,77.000000,77.000000,77.000000,7,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15725,16554,Women Maroon Heels Sandal,4.3,Women,Flipkart,567,1199,52.71,807.000000,807.000000,807.000000,807.000000,807.000000,41,43,0
15726,19600,Women Multicolor Flats Sandal,3.9,Women,Flipkart,499,998,50.00,246.000000,246.000000,246.000000,246.000000,246.000000,16,28,1
15727,6733,Women Navy Flats Sandal,3.7,Women,Flipkart,329,499,34.07,3057.660776,3057.660776,3057.660776,3057.660776,3057.660776,10,15,1
15728,3889,Red Chief Men's Sneakers,3.9,Men,Amazon,2249,4499,50.01,750.000000,750.000000,750.000000,750.000000,750.000000,25,47,1
15729,13682,Slip On For Men (Brown),5.0,Men,Flipkart,1539,2799,45.02,8.000000,8.000000,8.000000,8.000000,8.000000,0,0,1

In [16]:
print(type(df['Offer %']))

<class 'pandas.core.series.Series'>

In [17]:
#conversion of offer% string to float datatype
df['Offer %'].apply(lambda x: float(x))

0        30.13
1        50.03
2        45.01
3        15.85
4        40.02
         ...
15725    52.71
15726    50.00
15727    34.07
15728    50.01
15729    45.02
Name: Offer %, Length: 15730, dtype: float64

# Plotting different graphs for further analysis

In [18]:
g = sns.FacetGrid(data=df, col='actprice1', col_wrap=2, hue='maincateg')
g.map(sns.scatterplot, 'price1')

ValueError: Image size of 432x95688 pixels is too large. It must be less than 2^16 in each direction.

ValueError: Image size of 432x95688 pixels is too large. It must be less than 2^16 in each direction.

# Encoding for Categorical Data in maincateg and platform

In [20]:
df1=pd.get_dummies(df,columns=['maincateg'],prefix=[''])
df1.head()

,id,title,Rating,platform,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,_Men,_Women
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Flipkart,698,999,30.13,38.0,38.0,38.0,38.0,38.0,3,3,0,0,1
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Flipkart,999,1999,50.03,531.0,531.0,531.0,531.0,531.0,29,73,1,1,0
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Flipkart,2749,4999,45.01,17.0,17.0,17.0,17.0,17.0,1,0,1,0,1
3,495,Men Black Sports Sandal,4.2,Flipkart,518,724,15.85,46413.0,46413.0,46413.0,46413.0,46413.0,701,4595,1,1,0
4,16408,Men Green Sports Sandal,3.9,Flipkart,1379,2299,40.02,77.0,77.0,77.0,77.0,77.0,7,7,1,1,0

In [21]:
df2=pd.get_dummies(df1,columns=['platform'],prefix=[''])
df2.head()

,id,title,Rating,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,_Men,_Women,_Amazon,_Flipkart
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,698,999,30.13,38.0,38.0,38.0,38.0,38.0,3,3,0,0,1,0,1
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,999,1999,50.03,531.0,531.0,531.0,531.0,531.0,29,73,1,1,0,0,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,2749,4999,45.01,17.0,17.0,17.0,17.0,17.0,1,0,1,0,1,0,1
3,495,Men Black Sports Sandal,4.2,518,724,15.85,46413.0,46413.0,46413.0,46413.0,46413.0,701,4595,1,1,0,0,1
4,16408,Men Green Sports Sandal,3.9,1379,2299,40.02,77.0,77.0,77.0,77.0,77.0,7,7,1,1,0,0,1

In [22]:
df2['star_2f']=df2['star_2f'].astype(float)
df2['star_1f']=df2['star_1f'].astype(float)
df2.head()

,id,title,Rating,price1,actprice1,Offer %,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,_Men,_Women,_Amazon,_Flipkart
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,698,999,30.13,38.0,38.0,38.0,38.0,38.0,3.0,3.0,0,0,1,0,1
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,999,1999,50.03,531.0,531.0,531.0,531.0,531.0,29.0,73.0,1,1,0,0,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,2749,4999,45.01,17.0,17.0,17.0,17.0,17.0,1.0,0.0,1,0,1,0,1
3,495,Men Black Sports Sandal,4.2,518,724,15.85,46413.0,46413.0,46413.0,46413.0,46413.0,701.0,4595.0,1,1,0,0,1
4,16408,Men Green Sports Sandal,3.9,1379,2299,40.02,77.0,77.0,77.0,77.0,77.0,7.0,7.0,1,1,0,0,1

In [23]:
#all null values from the previous step got converted
df2.isnull().sum()

id            0
title         0
Rating        0
price1        0
actprice1     0
Offer %       0
norating1     0
noreviews1    0
star_5f       0
star_4f       0
star_3f       0
star_2f       0
star_1f       0
fulfilled1    0
_Men          0
_Women        0
_Amazon       0
_Flipkart     0
dtype: int64

# Analysing the testing data

In [24]:
testing_data=pd.read_csv(r"C:\Users\HP\Downloads\Final Hackathon\test.csv")
testing_data.head()

,id,title,Rating,maincateg,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,2242,Casuals For Men (Blue),3.8,Men,Flipkart,999,27928,3543,14238.0,4295,3457,1962,3976.0,1
1,20532,Women Black Flats Sandal,3.9,Women,Flipkart,499,3015,404,1458.0,657,397,182,321.0,1
2,10648,Women Gold Wedges Sandal,3.9,Women,Flipkart,999,449,52,229.0,70,71,33,46.0,1
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,Men,Flipkart,2999,290,40,141.0,51,49,17,32.0,1
4,12593,Loafers For Men (Tan),3.9,Men,Flipkart,999,2423,326,1265.0,414,293,143,308.0,0

In [25]:
testing_data.shape

(5244, 14)

In [26]:
testing_data.columns

Index(['id', 'title', 'Rating', 'maincateg', 'platform', 'actprice1',
       'norating1', 'noreviews1', 'star_5f', 'star_4f', 'star_3f', 'star_2f',
       'star_1f', 'fulfilled1'],
      dtype='object')

In [27]:
testing_data.dtypes

id              int64
title          object
Rating        float64
maincateg      object
platform       object
actprice1       int64
norating1       int64
noreviews1      int64
star_5f       float64
star_4f         int64
star_3f         int64
star_2f         int64
star_1f       float64
fulfilled1      int64
dtype: object

In [28]:
testing_data.isnull().sum()

id              0
title           0
Rating        203
maincateg      67
platform        0
actprice1       0
norating1       0
noreviews1      0
star_5f        68
star_4f         0
star_3f         0
star_2f         0
star_1f       186
fulfilled1      0
dtype: int64

In [29]:
data_null=testing_data['star_5f'].fillna(testing_data['star_5f'].mean())
testing_data['star_5f']=data_null
data_null1=testing_data['star_1f'].fillna(testing_data['star_1f'].mean())
testing_data['star_1f']=data_null1
data_null2=testing_data['Rating'].fillna(testing_data['Rating'].mean())
testing_data['Rating']=data_null2
testing_data.isnull().sum()

id             0
title          0
Rating         0
maincateg     67
platform       0
actprice1      0
norating1      0
noreviews1     0
star_5f        0
star_4f        0
star_3f        0
star_2f        0
star_1f        0
fulfilled1     0
dtype: int64

In [30]:
test_df1=pd.get_dummies(testing_data,columns=['maincateg'],prefix=[''])
test_df1.head()

,id,title,Rating,platform,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,_Men,_Women
0,2242,Casuals For Men (Blue),3.8,Flipkart,999,27928,3543,14238.0,4295,3457,1962,3976.0,1,1,0
1,20532,Women Black Flats Sandal,3.9,Flipkart,499,3015,404,1458.0,657,397,182,321.0,1,0,1
2,10648,Women Gold Wedges Sandal,3.9,Flipkart,999,449,52,229.0,70,71,33,46.0,1,0,1
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,Flipkart,2999,290,40,141.0,51,49,17,32.0,1,1,0
4,12593,Loafers For Men (Tan),3.9,Flipkart,999,2423,326,1265.0,414,293,143,308.0,0,1,0

In [31]:
test_df2=pd.get_dummies(test_df1,columns=['platform'],prefix=[''])
test_df2.head()

,id,title,Rating,actprice1,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1,_Men,_Women,_Amazon,_Flipkart
0,2242,Casuals For Men (Blue),3.8,999,27928,3543,14238.0,4295,3457,1962,3976.0,1,1,0,0,1
1,20532,Women Black Flats Sandal,3.9,499,3015,404,1458.0,657,397,182,321.0,1,0,1,0,1
2,10648,Women Gold Wedges Sandal,3.9,999,449,52,229.0,70,71,33,46.0,1,0,1,0,1
3,20677,Men's Height Increasing High Heel Formal Party...,3.9,2999,290,40,141.0,51,49,17,32.0,1,1,0,0,1
4,12593,Loafers For Men (Tan),3.9,999,2423,326,1265.0,414,293,143,308.0,0,1,0,0,1

In [32]:
test_df2.isnull().sum()

id            0
title         0
Rating        0
actprice1     0
norating1     0
noreviews1    0
star_5f       0
star_4f       0
star_3f       0
star_2f       0
star_1f       0
fulfilled1    0
_Men          0
_Women        0
_Amazon       0
_Flipkart     0
dtype: int64

# Train Test Split

In [33]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [34]:
features =['Rating','actprice1','norating1','noreviews1','star_5f','star_4f','star_3f','star_2f','star_1f']
targets = "price1"
data, target = df2[features], df2[targets]

In [35]:
features =['Rating','actprice1','norating1','noreviews1','star_5f','star_4f','star_3f','star_2f','star_1f']
x=df2.loc[:, features]
y=df2.loc[:,'price1']

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data, target,random_state=50, test_size=0.25)

In [37]:
from sklearn.linear_model import LogisticRegression
logisticRegr= LogisticRegression()

In [39]:
logisticRegr.fit(x_train , y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [40]:
logisticRegr.predict(x_test[:])

array([499, 499, 499, ..., 499, 499, 499], dtype=int64)

In [41]:
predictions = logisticRegr.predict()

In [42]:
score1 = logisticRegr.score(x_train, y_train)
print(score1)

0.056539798253793336

In [43]:
score2 = logisticRegr.score(x_test, y_test)
print(score2)

0.057208237986270026

In [44]:
features2=test_df2.iloc[0,2:9]
targets2 = "price1"
data1, target1 = test_df2[features2], df2[targets2]

KeyError: "None of [Float64Index([3.8, 999.0, 27928.0, 3543.0, 14238.0, 4295.0, 3457.0], dtype='float64')] are in the [columns]"

In [45]:
from sklearn.ensemble import RandomForestRegressor

In [46]:
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state=50)

In [47]:
rf_model = RandomForestRegressor(random_state=50)
rf_model.fit(train_x, train_y)
rf_val_predictions = rf_model.predict(val_x)

In [48]:
score3 = rf_model.score(x_train, y_train)
print(score3)

0.9827936800075352

In [49]:
score4 = rf_model.score(x_test, y_test)
print(score4)

0.888048904932841

In [52]:
features2=['Rating','actprice1','norating1','noreviews1','star_5f','star_4f','star_3f','star_2f','star_1f']
targets2 = "price1"

data2, target2 = test_df2[features2], df2[targets2]

In [62]:
#rf_model = RandomForestRegressor(random_state=1)
#rf_model.fit(data1, target1)
rf_val_predictions = rf_model.predict(data2)
rf_val_predictions

array([418.88114286, 293.87257143, 531.145     , ..., 408.32857143,
       271.085     , 672.03      ])

In [63]:
test_df2['price1']=rf_val_predictions

In [64]:
test_df2[['price1']]

          price1
0     418.881143
1     293.872571
2     531.145000
3     923.180303
4     408.912667
...          ...
5239  429.327143
5240  965.812857
5241  408.328571
5242  271.085000
5243  672.030000

[5244 rows x 1 columns]

In [56]:
test_df2[['id','price1']].to_csv("prediction.csv")

In [57]:
df=pd.read_csv("prediction.csv")
df.columns
df

      Unnamed: 0     id      price1
0              0   2242  418.881143
1              1  20532  293.872571
2              2  10648  531.145000
3              3  20677  923.180303
4              4  12593  408.912667
...          ...    ...         ...
5239        5239  14033  429.327143
5240        5240    297  965.812857
5241        5241  18733  408.328571
5242        5242   6162  271.085000
5243        5243  13574  672.030000

[5244 rows x 3 columns]

In [66]:
from sklearn.metrics import mean_absolute_error

model_error = mean_absolute_error(data2, rf_val_predictions)
print(f"The mean absolute error of the optimal model is {model_error:.2f}")

ValueError: y_true and y_pred have different number of output (9!=1)